<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>个别化教育计划</title>
<link href="__PUBLIC__/css/bootstrap.min.css" rel="stylesheet">
	<link href="__PUBLIC__/css/me.css" rel="stylesheet">
	<!-- 在引入bootstrap.min.js核心库之间加载jquery.min.js -->
	<script type="text/javascript" src="__PUBLIC__/js/jquery.min.js"></script>
<style>
table{table-layout:fixed;word-wrap:break-word ;}
table tr td label{width:100%; font-size:1.5em;text-align:center;}
</style>
</head>
<body style="background:#F0F2F5;">
	<div class="container-fluid ">
		<div class="main" style="border:none;">
			<center><h1 class="text-info">个别化教育计划</h1></center>
				<h4 class="text-right text-info" >学生:{$stu_name}&nbsp;&nbsp;&nbsp;</h4>
						<table border="1" width="100%" style="text-align:center;">
				<tr><th width="100"><label>康复领域</label></th>
					<th width="100"><label>长期目标</label></th>
					<th ><label>短期目标</label></th>
					<th width="100"><label>成功标准</label></th>
					<th width="110"><label>形&nbsp;式</label></th>
					<th width="120"><label>计划时长/天</label></th>
					<th width="110"><label>开始时间</label></th>
					<th width="110"><label>完成时间</label></th>
				</tr>
				<tr><td colspan="8"><table border=1 width="100%"  style="font-size:0.6em; table-layout: fixed; ">
					<foreach name="plan[0]" item="v" key="k">
					<tr><td width="100"><label>{$v}</label></td>
					<td colspan="2">
						<table border=1 width="100%"  >
							<foreach name="plan[0][$k]" item="v1" key="k1"><tr>
    						<td style="font-size:1.5em; overflow: hidden; white-space: nowrap;width:100px; text-overflow: ellipsis;" width="98" ><a href="" title="{$v1}">{$v1}</a></td>
    						<td>
								<table border=1 width="100%" >
									<foreach name="plan[2][$k][$k1]" item="v2" ><tr>
    								<td style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis;" ><a href="" title="{$v2}">{$v2}</a></td></tr></foreach></table>
    						</td>
    					</tr></foreach></table>
					</td>
					<td width="100" style="font-size:2em;">{$all[$k][0]}</td>
					<td width="110" style="font-size:2em;">{$all[$k][1]}</td>
					<td width="119" style="font-size:2em;">{$all[$k][2]}</td>
					<td width="110" style="font-size:2em;">{$all[$k][3]}</td>
					<td width="109" style="font-size:2em;">{$all[$k][4]}</td>
				</tr></foreach>
			</table></td>
				
			</tr>
			<tr><td width="100" style="font-size:0.85em;"><label>制定人</label></td>
					<td colspan="2">{$a_er}</td>
					<td colspan="2">计划制定时间</td>
					<td colspan="3">{$time}</td>
			</tr>
			</table><br/><br/>
			<center class="noprint"><input type="button" value="打&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;印" class="btn btn-primary btn-lg " onclick="window.print()"></center>
	</div>
</body>
</html>