<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>评估之后生成信息</title>
<link href="__PUBLIC__/css/bootstrap.min.css" rel="stylesheet">
	<link href="__PUBLIC__/css/me.css" rel="stylesheet">
	<!-- 在引入bootstrap.min.js核心库之间加载jquery.min.js -->
	<script type="text/javascript" src="__PUBLIC__/js/jquery.min.js"></script>
<style>
	.test{ float:left; width:20%;height:730px;margin-left:1.5em;margin-top:1em; background-image:url(__PUBLIC__{$img}) !important;
background-repeat:no-repeat; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#fff9f9f9', GradientType=0);} 
	table{table-layout:fixed;word-wrap:break-word ;}
	table tr td label{width:100%; text-align:center;}
</style>
</head>
<body style="background:#F0F2F5;">
	<div class="container-fluid ">
	<br/>
		<div class="main">
		<center><h1 class="text-info">个别化教育计划</h1></center><br/>
			<table border="1" width="100%" style="text-align:center;">
				<tr><th width="100"><label>康复领域</label></th>
					<th width="100"><label>长期目标</label></th>
					<th><label>短期目标</label></th>
					<th width="100"><label>成功标准</label></th>
					<th width="110"><label>形&nbsp;式</label></th>
					<th width="120"><label>计划时长/天</label></th>
					<th width="110"><label>开始时间</label></th>
					<th width="110"><label>完成时间</label></th>
				</tr>
				<tr><td><label>{$kind_name}</label></td>
					<td colspan="2">
						<table border=1 width="100%" style=" table-layout: fixed; font-size:0.9em;">
							<foreach name="plan" item="v" key="k"><tr>
    						<td style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis;width:100px"; ><a href="" title="{$v['0']}">{$v["0"]}</a></td>
    						<td><table border='1' style=" table-layout: fixed; width:100%;font-size:0.8em;">
    							<foreach name="items[$k]" item="v1" ><tr>
								<td style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis;"><a href="" title="{$v1}">{$v1}</a></td></tr></foreach></table></td>
    					</tr></foreach></table>
					</td>
					<td>{$standard}</td>
					<td>{$form}</td>
					<td>{$longer}</td>
					<td>{$start}</td>
					<td>{$end}</td>
				</tr style="font-size:1.3em">
				<tr><td width="100"><label>制定人</label></td>
					<td colspan="2"><b>{$res["a_er"]}</b></td>
					<td colspan="2" ><b>计划制定时间</b></td>
					<td colspan="3">{$res["a_time"]}</td>
			</tr>
			</table><br/><br/>
			<center class="noprint">
				<input type="button" value="打&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;印" class="btn btn-primary btn-lg " onclick="window.print()"></center>
		</div>
	</div>
</body>
</html>