<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>康复教育教案</title>
<link href="__PUBLIC__/css/bootstrap.min.css" rel="stylesheet">
	<link href="__PUBLIC__/css/me.css" rel="stylesheet">
	<!-- 在引入bootstrap.min.js核心库之间加载jquery.min.js -->
	<script type="text/javascript" src="__PUBLIC__/js/jquery.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/js/checkPw.js"></script>
		<script type="text/javascript" src="__PUBLIC__/laydate/laydate.js"></script>
<style type="text/css">
   label{ text-align:center;width:100%;}
   textarea{font-size:3em;}
</style>
</head>
<body>
	<div class="container" >
		<br/><center><h1 class="text-info">&nbsp;康复教育教案</h1></center>
		<h4 class="text-right text-info">学生：{$stu_name}</h4>
		<form action="__CONTROLLER__/add_info" method="post">
			<table border="1" width="100%" style="margin-top:-2.2em;">
				<tr><td width="100" rowspan="2" ><label>课程领域/单元主题</label></td>
					<td width="40%" rowspan="2" colspan="2"><textarea class="form-control" rows="4"  name="theme" placeholder="请输入信息"></textarea></td>
					<td width="60" rowspan="2"><label>执教教师</label></td><td>主教：
					<input type="text" name="Mteacher" class="form-control" style="width:86%;float:right;"  placeholder="请输入教师姓名"></td></tr>
					<tr><td>辅教：<input type="text" name="Fteacher" class="form-control" style="width:86%;float:right;" placeholder="请输入教师姓名"></td></tr>
					<tr><td><label>授课日期:</label></td>
					<td colspan="2"><input type="text" id="test1" class="form-control" name="time" placeholder="请输入时间" style="height:85px;">
					<script>
						laydate({
						  elem: '#test1',
						  max: laydate.now(),
						});
					</script>
					<td><label>授课形式:</label></td>
					<td>
						&nbsp;&nbsp;<input type="checkbox" name="teach_way[]" value="集体上课">集体上课
						&nbsp;&nbsp;<input type="checkbox" name="teach_way[]" value="小组课">小组课
						&nbsp;&nbsp;<input type="checkbox" name="teach_way[]" value="个别课">个别课
					</td>
					</tr>
					<tr><td rowspan="2"><label>学生能力分析:</label></td>
					<td>&nbsp;障碍类型与程度:</td><td><textarea class="form-control" rows="4" name="analyse[]" placeholder="请输入信息"></textarea></td>
					<td >&nbsp;认知<br/>&nbsp;水平:</td><td><textarea  class="form-control" rows="4" name="analyse[]" placeholder="请输入信息"></textarea></td></tr>
					<tr><td width="13%">&nbsp;在本教学内容<br/>&nbsp;的现有能力状况:</td><td colspan="3"><textarea class="form-control" rows="5" name="analyse[]" placeholder="请输入信息"></textarea></td></tr>
					<tr><td rowspan="3"><label>教学目标:</label></td>
					<td>&nbsp;知识目标:</td><td colspan="3"><textarea class="form-control" rows="4" name="aim[]" placeholder="请输入信息"></textarea></td></tr>
					<tr><td>&nbsp;能力目标:</td><td colspan="3"><textarea  class="form-control" rows="4" name="aim[]" placeholder="请输入信息"></textarea></td></tr>
					<tr><td>&nbsp;情感目标:</td><td colspan="3"><textarea class="form-control" rows="4" name="aim[]" placeholder="请输入信息"></textarea></td></tr>
					<tr><td><label>教学准备:</label></td><td colspan="4"><textarea class="form-control" rows="4" name="ready" placeholder="请输入信息"></textarea></td></tr>
					<tr><td><label>教学重点:</label></td><td colspan="4"><textarea class="form-control" rows="4" name="importance" placeholder="请输入信息"></textarea></td></tr>
					<tr><td><label>教学难点:</label></td><td colspan="4"><textarea class="form-control" rows="4" name="difficult" placeholder="请输入信息"></textarea></td></tr>
					
					<tr><td rowspan="6"><label>课程教学:</label></td>
						<td>一、前期准备</td><td colspan="3"><textarea class="form-control" rows="5" name="teach[]" placeholder="请输入信息"></textarea></td>
					</tr>
					<tr><td>二、教学导入</td><td colspan="3"><textarea class="form-control" rows="5" name="teach[]" placeholder="请输入信息"></textarea></td></tr>
					<tr><td>三、教学过程</td><td colspan="3"><textarea class="form-control" rows="5" name="teach[]" placeholder="请输入信息"></textarea></td></tr>
					<tr><td>四、巩固练习</td><td colspan="3"><textarea class="form-control" rows="5" name="teach[]" placeholder="请输入信息"></textarea></td></tr>
					<tr><td>五、课堂小结</td><td colspan="3"><textarea class="form-control" rows="5" name="teach[]" placeholder="请输入信息"></textarea></td></tr>
					<tr><td>六、延伸活动</td><td colspan="3"><textarea class="form-control" rows="5" name="teach[]" placeholder="请输入信息"></textarea></td></tr>
					
					<tr><td rowspan="4"><label>教学评鉴:</label></td>
						<td>&nbsp;学习态度</td><td colspan="3"><textarea class="form-control" rows="5" name="appraise[]" placeholder="请输入信息"></textarea></td>
					</tr>
					<tr><td>&nbsp;学习效率</td><td colspan="3"><textarea class="form-control" rows="5" name="appraise[]" placeholder="请输入信息"></textarea></td></tr>
					<tr><td>&nbsp;存在问题</td><td colspan="3"><textarea class="form-control" rows="5" name="appraise[]" placeholder="请输入信息"></textarea></td></tr>
					<tr><td>&nbsp;教学建议</td><td colspan="3"><textarea class="form-control" rows="5" name="appraise[]" placeholder="请输入信息"></textarea></td></tr>
			</table><br/>
			<center><input name="submit" type="submit" value="添&nbsp;加&nbsp;方&nbsp;案" class="btn btn-info btn-lg " ></center>
		</form><br/><br/>
	</div>
</body>
</html>