<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>编辑角色信息</title>
	<link href="__PUBLIC__/css/bootstrap.min.css" rel="stylesheet">
	<link href="__PUBLIC__/css/me.css" rel="stylesheet">
	<!-- 在引入bootstrap.min.js核心库之间加载jquery.min.js -->
	<script type="text/javascript" src="__PUBLIC__/js/jquery.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/js/checkPw.js"></script>
	<script type="text/javascript">
		window.onload =function()
		{
			var res = Array("{$role[0]}","{$role[1]}","{$role[2]}");
			var arr =document.getElementsByName("role[]");
			var z=0;
			for(var i=0;i<3;i++)
			{
				for(var j=z;j<3;j++)
				{
					if(res[i]==arr[j].value)
					{
						arr[j].checked = true;
						z=j+1;
						break;
					}else{
						arr[j].checked = false;
					}
				}
				
			}
		}
	</script>
</head>
<body style="background:#E3F5FC;">
	<div class="container">
		<br/><br/><br/><center><h1 class="text-info">&nbsp;编辑角色信息</h1></center>
		<form action="__SELF__" method="post" class="form-horizontal">
		  <div class="form-group">
		    <label  class="col-xs-2 col-xs-offset-2 text-primary">用户登录账号：</label>
		    <div class="col-xs-5">
		      <input type="text" class="form-control" value="{$res[0].u_name}" name="u_name" readOnly="true" >
		      <input type="hidden" class="form-control" value="{$res[0].u_id}" name="u_id" >
		      <input type="hidden" class="form-control" value="{$res[0].u_pw}" name="u_pw" >	
		    </div>
		  </div>
		  <div class="form-group">
		    <label class="col-xs-2 col-xs-offset-2 text-primary">角色权限选择：</label>
		    <div class="col-xs-5">
		      	<label class="checkbox-inline">
					<input type="checkbox" value="班主任" name="role[]"> 班主任
				</label>
				<label class="checkbox-inline">
				 	<input type="checkbox" value="任课老师" name="role[]"> 任课老师
				</label>
				<label class="checkbox-inline">
				  	<input type="checkbox" value="管理员" name="role[]"> 管理员
				</label>
		    </div>
		 </div></br>
		 <div class="form-group">
		   	<div class="col-xs-5 col-xs-offset-4">
				<span class=" col-xs-offset-2" ><input name="submit" type="submit" value="确认提交" class="btn btn-info btn-lg"></span>
				<span class=" col-xs-offset-1" ><input name="reset" type="reset" class="btn btn-success btn-lg"></span>
			</div>
		</div>
	</form>
	</div>
</body>
<script type="text/javascript" src="__CONTROLLER__/update"></script> 
</html>