<!DOCTYPE html>
<html>
<head>
	<title>脚部</title>
	<link href="__PUBLIC__/css/bootstrap.min.css" rel="stylesheet">
	<link href="__PUBLIC__/css/me.css" rel="stylesheet">
	<!-- 在引入bootstrap.min.js核心库之间加载jquery.min.js -->
	<script type="text/javascript" src="__PUBLIC__/js/jquery.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/js/bootstrap.min.js"></script>
</head>
<body style="background:#3B3B3B;color:white; padding-top:0.5em;">
	<h4 >
   		<center>单位名称：{$footer[0].conf_name}　　　　　&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;　　当前操作人员：<?php echo session(admin_name),session(u_name) ?>
   			　　　&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;　　　技术支持：{$footer[3].conf_name}
   		</center>
   </h4>

</body>
</html>