<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>角色信息列表</title>
	<link href="__PUBLIC__/css/bootstrap.min.css" rel="stylesheet">
	<link href="__PUBLIC__/css/me.css" rel="stylesheet">
	<!-- 在引入bootstrap.min.js核心库之间加载jquery.min.js -->
	<script type="text/javascript" src="__PUBLIC__/js/jquery.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container-fluid">
		<center><h1 style="color:#4B95DB;">暂时没有任何信息，请添加！</h1></center><br/>
		<center><a href="__MODULE__/Class/add_class1"><button class="btn btn-info btn-lg">添加信息</button></a></center>
	</div>
</body>
</html>