<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>任课老师的功能导航栏</title>
<!--  加载Bootstrap样式表 -->
	<link href="__PUBLIC__/css/bootstrap.min.css" rel="stylesheet">
	<link href="__PUBLIC__/css/me.css" rel="stylesheet">
	<!-- 在引入bootstrap.min.js核心库之间加载jquery.min.js -->
	<script type="text/javascript" src="__PUBLIC__/js/jquery.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/js/bootstrap.min.js"></script>
</head>
<body style="padding:15px; background-color:#F7F7F7;">
    <div class="container1">
        <div class="row">
            <div class="col-md-2">
                <ul id="main-nav" class="nav nav-tabs nav-stacked" style="">
                    <li class="active">
                        <a href="__MODULE__/Stu/stu_list1" target="right"><i class="glyphicon glyphicon-th-large"></i> 功能管理菜单  </a>
                    </li>
                     <li>
                        <a href="#systemSetting3" class="nav-header collapsed" data-toggle="collapse" >
                            <i class="glyphicon glyphicon-home"></i> 安全管理
                            <span class="pull-right glyphicon glyphicon-chevron-down"></span>
                        </a>
                           <ul id="systemSetting3" class="nav nav-list collapse secondmenu" style="height: 5px;">
                            <li><a href="__MODULE__/User/reset" target="right"><i class="glyphicon glyphicon-th-list"></i>&nbsp;&nbsp;修改密码</a></li>
                         </ul>  
                         
                    </li>  
                    <li>
                        <a href="#systemSetting1" class="nav-header collapsed" data-toggle="collapse">
                            <i class="glyphicon glyphicon-list-alt"></i> 发展评估 
                            <span class="pull-right glyphicon glyphicon-chevron-down"></span>
                        </a>
                        <ul id="systemSetting1" class="nav nav-list collapse secondmenu" style="height: 0px;">
                           <li><a href="__MODULE__/Record/add_record/stu_id/{$stu_id}" target="right" ><i class="glyphicon glyphicon-list-alt" target="right"></i>&nbsp;&nbsp;填写评估</a></li>
                           <li><a href="__MODULE__/Record/show_record?stu_id/{$stu_id}" target="right"><i class="glyphicon glyphicon-eye-open"></i>&nbsp;&nbsp;查看评估记录</a></li>
                           <li><a href="__MODULE__/Record/active/stu_id/{$stu_id}" target="right"><i class="glyphicon glyphicon-signal" target="right"></i>&nbsp;&nbsp;儿童发展情况剖面图</a></li>
                        	<li><a href="__MODULE__/Record/Cycle/stu_id/{$stu_id}" target="right"><i class="glyphicon glyphicon-signal" target="right"></i>&nbsp;&nbsp;儿童情绪行为表现图</a></li> 
                            <li><a href="__MODULE__/Sheet/all_sheet/stu_id/{$stu_id}" target="right"><i class="glyphicon glyphicon-signal"></i>&nbsp;&nbsp;评估结果分析表</a></li>
                            <li><a href="__MODULE__/Record/chart/stu_id/{$stu_id}" target="right"><i class="glyphicon glyphicon-signal"></i>&nbsp;&nbsp;康复效果折线图</a></li>

	                        <li><a href="__MODULE__/Stu/all_info/stu_id/{$stu_id}" target="right"><i class="glyphicon glyphicon-list" target="right"></i>&nbsp;&nbsp;训练建议汇总</a></li>
                        </ul>
                    </li>
                    
                    <li>
                        <a href="#systemSetting2" class="nav-header collapsed" data-toggle="collapse">
                            <i class="glyphicon glyphicon-object-align-left"></i>教育计划
                            <span class="pull-right glyphicon glyphicon-chevron-down"></span>
                        </a>
                        <ul id="systemSetting2" class="nav nav-list collapse secondmenu" style="height: 0px;">
                            <li><a href="__MODULE__/Eduplan/all_plan" target="right"><i class="glyphicon glyphicon-list-alt"></i>&nbsp;&nbsp;个别化教育计划</a></li>
                            <li><a href="__MODULE__/Plan/index" target="right"><i class="glyphicon glyphicon-folder-open"></i>&nbsp;&nbsp;课程实施</a></li>
                        
                        </ul>
                    </li>
                   <li>
                    	<a href="#systemSetting6" class="nav-header collapsed" data-toggle="collapse" target="right">
                            <i class="glyphicon glyphicon-send"></i> 康复转衔
                            <span class="pull-right glyphicon glyphicon-chevron-down"></span>
                        </a>
                        <ul id="systemSetting6" class="nav nav-list collapse secondmenu" style="height: 0px;">
                            <li><a href="__MODULE__/Direction/dir" target="right">
                            <i class="glyphicon glyphicon-log-in"></i> 后续跟踪调查表</a></li>
                            
                        </ul> 
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>