<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>家庭信息列表</title>
	<link href="__PUBLIC__/css/bootstrap.min.css" rel="stylesheet">
	<link href="__PUBLIC__/css/me.css" rel="stylesheet">
	<!-- 在引入bootstrap.min.js核心库之间加载jquery.min.js -->
	<script type="text/javascript" src="__PUBLIC__/js/jquery.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/js/bootstrap.min.js"></script>
</head>
<body style="background:#F0F2F5;">
	<div class="menu">
		<a href="__MODULE__/Record/add_record?stu_id={$stu_id}"><button class="btn btn-info ">进行评估</button></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	  	<a href="__MODULE__/Record/show_record?stu_id={$stu_id}"><button class="btn btn-info ">评估记录</button></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	  	<a href="__MODULE__/Check/info?stu_id={$stu_id}"><button class="btn btn-info ">评估分析表</button></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	  	<a href="__MODULE__/Plan/see_plan?stu_id={$stu_id}"><button class="btn btn-info ">康复计划</button></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	  	
	</div>
	<div class="clear"></div><br/><br/><br/>
	<!-- <hr style=" height:2px;border:none;border-top:2px dotted #185598;" /> -->
	<div class="container">
		<center><h1 class="text-info">&nbsp;家庭成员信息</h1></center><br/>
		<table class="table table-bordered" style="text-align:center;">
			<tr><th>与学生的关系</th><th>姓名</th><th>年龄</th><th>职业</th><th>教育程度</th></tr>
			<foreach name="res" item="v">
				<tr>
					<td>{$v.p_kind} </td><td>{$v.p_name}</td>
					<td>{$v.p_age}</td>
					<td>{$v.p_job}</td>
					<td>{$v.p_edu}</td>
				</tr>
			</foreach>
		</table>
		<center><a href="__URL__/more?stu_id={$stu_id}" title="添加家庭成员信息"><button class="btn btn-primary">添加家庭成员</button></a></center>
	</div>
</body>
</html>