<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>chartjs</title>
	<link href="__PUBLIC__/css/bootstrap.min.css" rel="stylesheet">
	<link href="__PUBLIC__/css/me.css" rel="stylesheet">
	<!-- 在引入bootstrap.min.js核心库之间加载jquery.min.js -->
	<script type="text/javascript" src="__PUBLIC__/js/jquery.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/js/checkPw.js"></script>
	<script type="text/javascript" src="__PUBLIC__/js/Chart.min.js"></script>
	<style>
		.kong {display:inline;background:#CBDDE6;border:1px solid #759FB7;}
		.kong1 {display:inline;background:#FB9684;border:1px solid red;}
		.kong2 {display:inline;background:#8E84FB;border:1px solid #5B487D;}
	</style>
</head>
<body>
<h1 class="text-primary">&nbsp;&nbsp;&nbsp;&nbsp;数据分析图表</h1>
	<hr style=" width:90%;margin-top:0em;border:2px solid #4D9DE3;" /><br/><br/>
	<div class="container ">
		<div class="chance">
			<ul class="noprint" id="nav">
				<foreach name="res1" item="v1"><li><a href="__URL__/chart?kind_id={$v1.kind_id}">{$v1.kind_name}</a></li></foreach>
			</ul>
		</div>
		<script type="text/javascript">
      	  var urlstr = location.href;
	      var urlstatus=false;
	      $("#nav a").each(function () {  
	        if ((urlstr + '/').indexOf($(this).attr('href')) > -1&&$(this).attr('href')!='') {
	          $(this).addClass('curument'); urlstatus = true;
	        } else {
	          $(this).removeClass('curument');
	        }
	      });
	      if (!urlstatus) {$("#nav a").eq(0).addClass('curument'); }
    	</script>
		<div class="clear"></div>
		<div class="main">
			<h4 class="text-right text-info">学生姓名：{$stu_name}</h4>
			<center><h3 class="text-info">评估记录结果表</h3>
			<div class="kong">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div> A的个数&nbsp;&nbsp;
			<div class="kong1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div> M的个数&nbsp;&nbsp;
			<div class="kong2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div> S的个数</center>
			<canvas id="line1" width="750" height="350" style="margin:0em 4em 2em 4em;"></canvas>
			<script type="text/javascript">
			var line1 =document.getElementById('line1').getContext('2d');
			var lineChart= new Chart(line1); 
			var arr = new Array();
			arr = {$arr4};
			var data = arr ;
			lineChart.Bar(data,{
				 scaleBeginAtZero : true,
				 scaleShowGridLines : true,
			});
			</script>

			<br/><hr>
			<center><h3 class="text-info">康复效果折线图</h3></center>
			<canvas id="line" width="750" height="350" style="margin:0em 4em 2em 4em;"></canvas>
			<script type="text/javascript">
			var line =document.getElementById('line').getContext('2d');
			var lineChart= new Chart(line); 
			var arr = new Array();
			arr = {$arr3};
			//console.log(arr.labels);
			var data = arr ;
			lineChart.Line(data,{
					bezierCurve : false,
					
			});
			</script>
		</div><br/>
			<center class="noprint"><input type="button" value="打&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;印" class="btn btn-primary btn-lg " onclick="window.print()"></center><br/><br/>
	</div>
</body>
</html>