<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>儿童发展情况剖面图</title>
<link href="__PUBLIC__/css/bootstrap.min.css" rel="stylesheet">
	<link href="__PUBLIC__/css/me.css" rel="stylesheet">
	<!-- 在引入bootstrap.min.js核心库之间加载jquery.min.js -->
	<script type="text/javascript" src="__PUBLIC__/js/jquery.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/js/checkPw.js"></script>
	<script type="text/javascript" src="__PUBLIC__/js/Chart.min.js"></script>
<style>
	.test{width:650px;margin-left:8em;margin-top:3em; height:620px; background-image:url(__PUBLIC__/images/tu2.png) !important;background-repeat:no-repeat;}
</style>
</head>
<body>
<div class="container ">
	<div style="padding-left:5.5em; padding-top:15%;">
		<center><h1 class="text-info"><img src="__PUBLIC__/images/none.png">&nbsp;&nbsp;&nbsp;暂无评估信息！！</h1></center>
	</div>
	
</div>
</body>
</html>