<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>添加其他量表测试记录</title>
<link href="__PUBLIC__/css/bootstrap.min.css" rel="stylesheet">
	<link href="__PUBLIC__/css/me.css" rel="stylesheet">
	<!-- 在引入bootstrap.min.js核心库之间加载jquery.min.js -->
	<script type="text/javascript" src="__PUBLIC__/js/jquery.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/js/bootstrap.min.js"></script>
	<script language="javascript">
	window.onload=function showtable(){
	var tablename=document.getElementById("mytable");
	var li=tablename.getElementsByTagName("tr");
	for (var i=0;i<=li.length;i++){
		if(i%2==0)
		{
			li[i].style.backgroundColor="#DBF0FA";
		}else{
			li[i].style.backgroundColor ="#FAF7F7";
		}
	}
}
</script>
	
</head>
<body style="background:#F0F2F5;">
	<h1 class="text-primary">&nbsp;&nbsp;&nbsp;&nbsp;添加评估记录表</h1>
	<hr style=" width:94%;margin-top:0em;border:2px solid #4D9DE3;" /><br/><br/>
	<div class="container ">
		<div class="chance">
			<ul>
				<foreach name="res1" item="v1"><li><a href="__URL__/add_record?kind_id={$v1.kind_id}">{$v1.kind_name}</a></li></foreach>
				<li><a href="__URL__/other_scale_list">其他量表</a></li>
			</ul>
		</div>
		<div class="clear"></div>
		<div class="main">
			<center><h1 class="text-info">儿童{$kind_name}评估表</h1></center>
			<h4 class="text-right text-info">学生姓名：{$stu_name}&nbsp;&nbsp;</h4>
			<table class="table-bordered" id="mytable" style="width:100%;text-align:center; margin-top:1em;">
				<tr ><th>评估次数</th><th>学生年龄</th><th>评估人员</th><th>评估时间</th><th>操作</th></tr>
				<foreach name="res" item="v" key="k">
				<tr> 
				  <td>第{$k+1}次</td>
				  <td>{$v.a_age}</td>
				  <td>{$v.a_er}</td>
				  <td>{$v.a_time}</td>
				  <td><a href='__MODULE__/Record/see_record/kind_id/{$kind_id}/a_id/{$v.a_id}' title="查看学生详细信息"><div class="glyphicon glyphicon-search"></div></a></td>
				</tr>
				</foreach>
				<tr><td colspan="5">{$pagelist}</td></tr>
			</table><br/>
			<center><form action="__SELF__" method="post" > 
			<input name="kind_id" type="hidden" value="{$kind_id}">
			<input name="submit" type="submit" value="添加记录" class="btn btn-info btn-lg " ></form></center>
		</div>
	</div>
</body>
</html>