<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>其他量表详细情况</title>
<link href="__PUBLIC__/css/bootstrap.min.css" rel="stylesheet">
	<link href="__PUBLIC__/css/me.css" rel="stylesheet">
	<!-- 在引入bootstrap.min.js核心库之间加载jquery.min.js -->
	<script type="text/javascript" src="__PUBLIC__/js/jquery.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/js/checkPw.js"></script>
</head>
<body style="background:#F0F2F5;">
	<div class="container"><br/>
		<center><h1 class="text-info">{$kind_name}评估表</h1></center>
		<hr style="border:2px solid #4D9DE3;" />
		<form action="__URL__/scale_info" method="post">
		<input type="hidden" name="kind_id" value="{$kind_id}"><input type="hidden" name="a_id" value="{$a_id}">
		<table border="1" style="width:100%;text-align:center; font-size:0.85em;">
			<tr><th>代号</th><th>评估项目</th><th>评估记录</th><th>备注</th></tr>
			<foreach name="res" item="v" key="k"><tr><td>{$k+1}</td><td>{$v.other_item_name}</td><td>
				<select name="g[]"><option value="{$info[$k].other_value}">{$info[$k].other_value}</option><option value="P">P</option><option value="E">E</option>
				<option value="F">F</option><option value="X">X</option></select></td><td><input type="text" name="gz[]" value="{$info[$k].other_remark}" style="width:100%;"></td></tr></foreach>
		</table><br/>
		<center class="noprint"><input name="submit" type="submit" value="确认修改" class="btn btn-info btn-lg" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<input type="button" value="打印表格" class="btn btn-info btn-lg " onclick="window.print()"></center>
		</form>
	</div>
</body>
</html>