<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>量表信息页面</title>
	<link href="__PUBLIC__/css/bootstrap.min.css" rel="stylesheet">
	<link href="__PUBLIC__/css/me.css" rel="stylesheet">
	<!-- 在引入bootstrap.min.js核心库之间加载jquery.min.js -->
	<script type="text/javascript" src="__PUBLIC__/js/jquery.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/js/checkPw.js"></script>
</head>
<body style="background:#F0F2F5;">
	<div class="container-fluid"><br/><br/>
		<div class="chance">
			<ul class="noprint" id="nav">
				<foreach name="res" item="v"><li><a href="__URL__/add_record?kind_id={$v.kind_id}">{$v.kind_name}</a></li></foreach>
				<!--  li><a href="__URL__/other_scale_list">其他量表</a></li-->
			</ul>
		</div>
		<script type="text/javascript">
		  var kind ="{$kind_id}"
      	  var urlstr = location.href;
	      var urlstatus=false;
	      $("#nav a").each(function () {  
	        if ((urlstr + '/').indexOf($(this).attr('href')) > -1&&$(this).attr('href')!='') {
	          $(this).addClass('curument'); urlstatus = true;
	        } else {
	          $(this).removeClass('curument');
	        }
	      });
	      if (!urlstatus) {$("#nav a").eq(kind-1).addClass('curument'); }
    	</script>
		<div class="clear"></div>
		<div class="main">
			<center><h1 class="text-info">儿童{$kind_name}评估表</h1></center>
			<h4 class="text-right text-info">学生姓名：{$stu_name}&nbsp;&nbsp;</h4>
			<div class="save"></div>
			<form action="__URL__/scale_info" method="post">
			<input type="hidden" name="kind_id" value="{$kind_id}"><input type="hidden" name="a_id" value="{$a_id}">
			<table border="1" style="width:100%;text-align:center;font-size:0.8em; margin-top:-3em;">
				<tr><th>代号</th><th colspan="2">评估范围</th><th>评估项目</th><th width="10%">评估记录</th><th width="10%">参考年龄</th><th width="15%">备注</th></tr>
                    <tr>
                      <td>1</td>
                      <td rowspan="12">社交前基本能力 </td>
                      <td rowspan="6">社交中非口语能力</td>
                      <td><span><a href="" title="评估材料：{$res2[0].material}&#13;评估方法：{$res2[0].way}&#13;评估标准：{$res2[0].norm}">目光注视社交对象 </a></span></td>
                      
                      
                      <td>
                      
                      <select name="g[]">
                        <option value="{$res1[0].items_values}">{$res1[0].items_values}</option>
                        
                        
                        
                        
                      </select>
                      </td>
                      <td>0-6月 </td>
                      <td><input type="text" name="gz[]" value="{$res1[0].remark}"></td>
                    </tr>
                    <tr>
                      <td>2</td>
                      <td><span><a href="" title="评估材料：{$res2[1].material}&#13;评估方法：{$res2[1].way}&#13;评估标准：{$res2[1].norm}">与熟悉人3米距离内身体接触  </a></span></td>
                      
                      
                      <td>
                      
                      <select name="g[]">
                        <option value="{$res1[1].items_values}">{$res1[1].items_values}</option>
                        
                        
                        
                        
                      </select>
                      </td>
                      <td>6-12月 </td>
                      <td><input type="text" name="gz[]" value="{$res1[1].remark}"></td>
                    </tr>
                    <tr>
                      <td>3</td>
                      <td><span><a href="" title="评估材料：{$res2[2].material}&#13;评估方法：{$res2[2].way}&#13;评估标准：{$res2[2].norm}">与陌生人3米距离内身体接触  </a></span></td>
                      
                      
                      <td>
                      
                      <select name="g[]">
                        <option value="{$res1[2].items_values}">{$res1[2].items_values}</option>
                        
                        
                        
                        
                      </select>
                      </td>
                      <td>6-12月 </td>
                      <td><input type="text" name="gz[]" value="{$res1[2].remark}"></td>
                    </tr>
                    <tr>
                      <td>4</td>
                      <td><span><a href="" title="评估材料：{$res2[3].material}&#13;评估方法：{$res2[3].way}&#13;评估标准：{$res2[3].norm}">陌生人走近儿童的身体 </a></span></td>
                      
                      
                      <td>
                      
                      <select name="g[]" >
                        <option value="{$res1[3].items_values}">{$res1[3].items_values}</option>
                        
                        
                        
                        
                      </select>
                      </td>
                      <td>12-18月 </td>
                      <td><input type="text" name="gz[]" value="{$res1[3].remark}"></td>
                    </tr>
                    <tr>
                      <td>5</td>
                      <td><span><a href="" title="评估材料：{$res2[4].material}&#13;评估方法：{$res2[4].way}&#13;评估标准：{$res2[4].norm}">陌生人走近儿童的身体 </a></span></td>
                      
                      
                      <td>
                      
                      <select name="g[]" >
                        <option value="{$res1[4].items_values}">{$res1[4].items_values}</option>
                        
                        
                        
                        
                      </select>
                      </td>
                      <td>24-36月 </td>
                      <td><input type="text" name="gz[]" value="{$res1[4].remark}"></td>
                    </tr>
                    <tr>
                      <td>6</td>
                      <td><span><a href="" title="评估材料：{$res2[5].material}&#13;评估方法：{$res2[5].way}&#13;评估标准：{$res2[5].norm}">安坐 </a></span></td>
                      
                      
                      <td>
                      
                      <select name="g[]">
                        <option value="{$res1[5].items_values}">{$res1[5].items_values}</option>
                        
                        
                        
                        
                      </select>
                      </td>
                      <td>24-36月 </td>
                      <td><input type="text" name="gz[]" value="{$res1[5].remark}"></td>
                    </tr>
                    <tr>
                      <td>7</td>
                      <td rowspan="4">认识 <br />
                        自己 </td>
                      <td><span><a href="" title="评估材料：{$res2[6].material}&#13;评估方法：{$res2[6].way}&#13;评估标准：{$res2[6].norm}">认识镜子中的自己 </a></span></td>
                      
                      
                      <td>
                      
                      <select name="g[]">
                        <option value="{$res1[6].items_values}">{$res1[6].items_values}</option>
                        
                        
                        
                        
                      </select>
                      </td>
                      <td>6-12月 </td>
                      <td><input type="text" name="gz[]" value="{$res1[6].remark}"></td>
                    </tr>
                    <tr>
                      <td>8</td>
                      <td><span><a href="" title="评估材料：{$res2[7].material}&#13;评估方法：{$res2[7].way}&#13;评估标准：{$res2[7].norm}">认识自己的衣服  </a></span></td>
                      
                      
                      <td>
                      
                      <select name="g[]" >
                        <option value="{$res1[7].items_values}">{$res1[7].items_values}</option>
                        
                        
                        
                        
                      </select>
                      </td>
                      <td>18-24月 </td>
                      <td><input type="text" name="gz[]" value="{$res1[7].remark}"></td>
                    </tr>
                    <tr>
                      <td>9</td>
                      <td><span><a href="" title="评估材料：{$res2[8].material}&#13;评估方法：{$res2[8].way}&#13;评估标准：{$res2[8].norm}">知道与回答自己的年龄  </a></span></td>
                      
                      
                      <td>
                      
                      <select name="g[]" ">
                        <option value="{$res1[8].items_values}">{$res1[8].items_values}</option>
                        
                        
                        
                        
                      </select>
                      </td>
                      <td>24-36月 </td>
                      <td><input type="text" name="gz[]" value="{$res1[8].remark}"></td>
                    </tr>
                    <tr>
                      <td>10</td>
                      <td><span><a href="" title="评估材料：{$res2[9].material}&#13;评估方法：{$res2[9].way}&#13;评估标准：{$res2[9].norm}">知道与回答父母的名字 </a></span></td>
                      
                      
                      <td>
                      
                      <select name="g[]">
                        <option value="{$res1[9].items_values}">{$res1[9].items_values}</option>
                        
                        
                        
                        
                      </select>
                      </td>
                      <td>36-48月 </td>
                      <td><input type="text" name="gz[]" value="{$res1[9].remark}"></td>
                    </tr>
                    <tr>
                      <td>11</td>
                      <td>评价 <br />
                        自己 </td>
                      <td><span><a href="" title="评估材料：{$res2[10].material}&#13;评估方法：{$res2[10].way}&#13;评估标准：{$res2[10].norm}">评价画画（或其他行为）很好 </a></span></td>
                      
                      
                      <td>
                      
                      <select name="g[]">
                        <option value="{$res1[10].items_values}">{$res1[10].items_values}</option>
                        
                        
                        
                        
                      </select>
                      </td>
                      <td>24-36月 </td>
                      <td><input type="text" name="gz[]" value="{$res1[10].remark}"></td>
                    </tr>
                    <tr>
                      <td>12</td>
                      <td>控制 <br />
                        自己 </td>
                      <td><span><a href="" title="评估材料：{$res2[11].material}&#13;评估方法：{$res2[1].way}&#13;评估标准：{$res2[11].norm}">儿童执行“不准---”指令 </a></span></td>
                      
                      
                      <td>
                      
                      <select name="g[]">
                        <option value="{$res1[11].items_values}">{$res1[11].items_values}</option>
                        
                        
                        
                        
                      </select>
                      </td>
                      <td>24-36月 </td>
                      <td><input type="text" name="gz[]" value="{$res1[11].remark}"></td>
                    </tr>
                    <tr>
                      <td>13</td>
                      <td rowspan="8">社交技巧 </td>
                      <td rowspan="4">与照顾者的互动 </td>
                      <td><span><a href="" title="评估材料：{$res2[12].material}&#13;评估方法：{$res2[12].way}&#13;评估标准：{$res2[12].norm}">用微笑回应照顾者</a></span></td>
                      
                      
                      <td>
                      
                      <select name="g[]">
                        <option value="{$res1[12].items_values}">{$res1[12].items_values}</option>
                        
                        
                        
                        
                      </select>
                      </td>
                      <td>0-6月 </td>
                      <td><input type="text" name="gz[]" value="{$res1[12].remark}"></td>
                    </tr>
                    <tr>
                      <td>14</td>
                      <td><span><a href="" title="评估材料：{$res2[13].material}&#13;评估方法：{$res2[13].way}&#13;评估标准：{$res2[13].norm}">微笑或发出声音引发照顾者的反应</a></span></td>
                      
                      
                      <td>
                      
                      <select name="g[]">
                        <option value="{$res1[13].items_values}">{$res1[13].items_values}</option>
                        
                        
                        
                        
                      </select>
                      </td>
                      <td>6-12月 </td>
                      <td><input type="text" name="gz[]" value="{$res1[13].remark}"></td>
                    </tr>
                    <tr>
                      <td>15</td>
                      <td><span><a href="" title="评估材料：{$res2[14].material}&#13;评估方法：{$res2[14].way}&#13;评估标准：{$res2[14].norm}">微笑或伸开手臂拥抱表达对照顾者的喜爱之情 </a></span></td>
                      
                      
                      <td>
                      
                      <select name="g[]">
                        <option value="{$res1[14].items_values}">{$res1[14].items_values}</option>
                        
                        
                        
                        
                      </select>
                      </td>
                      <td>6-12月 </td>
                      <td><input type="text" name="gz[]" value="{$res1[14].remark}"></td>
                    </tr>
                    <tr>
                      <td>16</td>
                      <td><span><a href="" title="评估材料：{$res2[15].material}&#13;评估方法：{$res2[15].way}&#13;评估标准：{$res2[15].norm}">请求照顾者帮助拿自己想要的东西 </a></span></td>
                      
                      
                      <td>
                      
                      <select name="g[]" >
                        <option value="{$res1[15].items_values}">{$res1[15].items_values}</option>
                        
                        
                        
                        
                      </select>
                      </td>
                      <td>12-24月 </td>
                      <td><input type="text" name="gz[]" value="{$res1[15].remark}"></td>
                    </tr>
                    <tr>
                      <td>17</td>
                      <td rowspan="4">与陌生人互动 </td>
                      <td><span><a href="" title="评估材料：{$res2[16].material}&#13;评估方法：{$res2[16].way}&#13;评估标准：{$res2[16].norm}">对陌生环境或对陌生人的反应</a></span></td>
                      
                      
                      <td>
                      
                      <select name="g[]" >
                        <option value="{$res1[16].items_values}">{$res1[16].items_values}</option>
                        
                        
                        
                        
                      </select>
                      </td>
                      <td>24-36月 </td>
                      <td><input type="text" name="gz[]" value="{$res1[16].remark}"></td>
                    </tr>
                    <tr>
                      <td>18</td>
                      
                      
                      <td><span><a href="" title="评估材料：{$res2[17].material}&#13;评估方法：{$res2[17].way}&#13;评估标准：{$res2[17].norm}">与陌生人简单交谈</a></span></td>
                      
                      
                      <td>
                      
                      <select name="g[]">
                        <option value="{$res1[17].items_values}">{$res1[17].items_values}</option>
                        
                        
                        
                        
                      </select>
                      </td>
                      <td>36-48月 </td>
                      <td><input type="text" name="gz[]" value="{$res1[17].remark}"></td>
                    </tr>
                    <tr>
                      <td>19</td>
                      <td><span><a href="" title="评估材料：{$res2[18].material}&#13;评估方法：{$res2[18].way}&#13;评估标准：{$res2[18].norm}">维持谈话</a></span></td>
                      
                      
                      <td>
                      
                      <select name="g[]">
                        <option value="{$res1[18].items_values}">{$res1[18].items_values}</option>
                        
                        
                        
                        
                      </select>
                      </td>
                      <td>48-60月 </td>
                      <td><input type="text" name="gz[]" value="{$res1[18].remark}"></td>
                    </tr>
                    <tr>
                      <td>20</td>
                      <td><span><a href="" title="评估材料：{$res2[19].material}&#13;评估方法：{$res2[19].way}&#13;评估标准：{$res2[19].norm}">分享 </a></span></td>
                      
                      
                      <td>
                      
                      <select name="g[]">
                        <option value="{$res1[19].items_values}">{$res1[19].items_values}</option>
                        
                        
                        
                        
                      </select>
                      </td>
                      <td>48-60月 </td>
                      <td><input type="text" name="gz[]" value="{$res1[19].remark}"></td>
                    </tr>
                    <tr>
                      <td>21</td>
                      <td rowspan="20">社交礼仪 </td>
                      <td rowspan="9">近距离打招呼 </td>
                      <td><span><a href="" title="评估材料：{$res2[20].material}&#13;评估方法：{$res2[20].way}&#13;评估标准：{$res2[20].norm}">对别人的问候（你好）表示惊讶</a></span></td>
                      
                      
                      <td>
                      
                      <select name="g[]">
                        <option value="{$res1[20].items_values}">{$res1[20].items_values}</option>
                        
                        
                        
                        
                      </select>
                      </td>
                      <td>0-6月 </td>
                      <td><input type="text" name="gz[]" value="{$res1[20].remark}"></td>
                    </tr>
                    <tr>
                      <td>22</td>
                      <td><span><a href="" title="评估材料：{$res2[21].material}&#13;评估方法：{$res2[21].way}&#13;评估标准：{$res2[21].norm}">用微笑回应别人的问候（你好）</a></span></td>
                      
                      
                      <td>
                      
                      <select name="g[]">
                        <option value="{$res1[21].items_values}">{$res1[21].items_values}</option>
                        
                        
                        
                        
                      </select>
                      </td>
                      <td>6-12月 </td>
                      <td><input type="text" name="gz[]" value="{$res1[21].remark}"></td>
                    </tr>
                    <tr>
                      <td>23</td>
                      <td><span><a href="" title="评估材料：{$res2[22].material}&#13;评估方法：{$res2[22].way}&#13;评估标准：{$res2[22].norm}">伸手或拉手回应别人的问候（你好）</a></span></td>
                      
                      
                      <td>
                      
                      <select name="g[]">
                        <option value="{$res1[22].items_values}">{$res1[22].items_values}</option>
                        
                        
                        
                        
                      </select>
                      </td>
                      <td>12-18月 </td>
                      <td><input type="text" name="gz[]" value="{$res1[22].remark}"></td>
                    </tr>
                    <tr>
                      <td>24</td>
                      <td><span><a href="" title="评估材料：{$res2[23].material}&#13;评估方法：{$res2[23].way}&#13;评估标准：{$res2[23].norm}">用“好”回应别人的问候（你好）</a></span></td>
                      
                      
                      <td>
                      
                      <select name="g[]">
                        <option value="{$res1[23].items_values}">{$res1[23].items_values}</option>
                        
                        
                        
                        
                      </select>
                      </td>
                      <td>18-24月 </td>
                      <td><input type="text" name="gz[]" value="{$res1[23].remark}"></td>
                    </tr>
                    <tr>
                      <td>25</td>
                      <td><span><a href="" title="评估材料：{$res2[24].material}&#13;评估方法：{$res2[24].way}&#13;评估标准：{$res2[24].norm}">用“叔叔好、阿姨好---”回应别人的问候（你好）</a></span></td>
                      
                      
                      <td>
                      
                      <select name="g[]">
                        <option value="{$res1[24].items_values}">{$res1[24].items_values}</option>
                        
                        
                        
                        
                      </select>
                      </td>
                      <td>24-36月 </td>
                      <td><input type="text" name="gz[]" value="{$res1[24].remark}"></td>
                    </tr>
                    <tr>
                      <td>26</td>
                      <td><span><a href="" title="评估材料：{$res2[25].material}&#13;评估方法：{$res2[25].way}&#13;评估标准：{$res2[25].norm}">握手表达问候 </a></span></td>
                      
                      
                      <td>
                      
                      <select name="g[]">
                        <option value="{$res1[25].items_values}">{$res1[25].items_values}</option>
                        
                        
                        
                        
                      </select>
                      </td>
                      <td>36-48月 </td>
                      <td><input type="text" name="gz[]" value="{$res1[25].remark}"></td>
                    </tr>
                    <tr>
                      <td>27</td>
                      <td><span><a href="" title="评估材料：{$res2[26].material}&#13;评估方法：{$res2[26].way}&#13;评估标准：{$res2[26].norm}">用“早上好、晚上好---”回应别人的问候 </a></span></td>
                      
                      
                      <td>
                      
                      <select name="g[]">
                        <option value="{$res1[26].items_values}">{$res1[26].items_values}</option>
                        
                        
                        
                        
                      </select>
                      </td>
                      <td>36-48月 </td>
                      <td><input type="text" name="gz[]" value="{$res1[26].remark}"></td>
                    </tr>
                    <tr>
                      <td>28</td>
                      <td><span><a href="" title="评估材料：{$res2[27].material}&#13;评估方法：{$res2[27].way}&#13;评估标准：{$res2[27].norm}">用“叔叔好、阿姨好---”问候，并握手 </a></span></td>
                      
                      
                      <td>
                      
                      <select name="g[]" >
                        <option value="{$res1[27].items_values}">{$res1[27].items_values}</option>
                        
                        
                        
                        
                      </select>
                      </td>
                      <td>48-60月 </td>
                      <td><input type="text" name="gz[]" value="{$res1[27].remark}"></td>
                    </tr>
                    <tr>
                      <td>29</td>
                      <td><span><a href="" title="评估材料：{$res2[28].material}&#13;评估方法：{$res2[28].way}&#13;评估标准：{$res2[28].norm}">用“你好”，并握手 </a></span></td>
                      
                      
                      <td>
                      
                      <select name="g[]">
                        <option value="{$res1[28].items_values}">{$res1[28].items_values}</option>
                        
                        
                        
                        
                      </select>
                      </td>
                      <td>60-72月 </td>
                      <td><input type="text" name="gz[]" value="{$res1[28].remark}"></td>
                    </tr>
                    <tr>
                      <td>30</td>
                      <td>远距离打招呼 </td>
                      <td><span><a href="" title="评估材料：{$res2[29].material}&#13;评估方法：{$res2[29].way}&#13;评估标准：{$res2[29].norm}">用“叔叔好、阿姨好---”回应，并挥手 </a></span></td>
                      
                      
                      <td>
                      
                      <select name="g[]">
                        <option value="{$res1[29].items_values}">{$res1[29].items_values}</option>
                        
                        
                        
                        
                      </select>
                      </td>
                      <td>36-48月 </td>
                      <td><input type="text" name="gz[]" value="{$res1[29].remark}"></td>
                    </tr>
                    <tr>
                      <td>31</td>
                      <td rowspan="2">自我 <br />
                        介绍 </td>
                      <td><span><a href="" title="评估材料：{$res2[30].material}&#13;评估方法：{$res2[30].way}&#13;评估标准：{$res2[30].norm}">被动介绍，“XX”回答别人对自己名字的提问 </a></span></td>
                      
                      
                      <td>
                      
                      <select name="g[]">
                        <option value="{$res1[30].items_values}">{$res1[30].items_values}</option>
                        
                        
                        
                        
                      </select>
                      </td>
                      <td>24-36月 </td>
                      <td><input type="text" name="gz[]" value="{$res1[30].remark}"></td>
                    </tr>
                    <tr>
                      <td>32</td>
                      <td><span><a href="" title="评估材料：{$res2[31].material}&#13;评估方法：{$res2[31].way}&#13;评估标准：{$res2[31].norm}">主动自我介绍：“叔叔好，我叫XX”</a></span></td>
                      
                      
                      <td>
                      
                      <select name="g[]">
                        <option value="{$res1[31].items_values}">{$res1[31].items_values}</option>
                        
                        
                        
                        
                      </select>
                      </td>
                      <td>36-48月 </td>
                      <td><input type="text" name="gz[]" value="{$res1[31].remark}"></td>
                    </tr>
                    <tr>
                      <td>33</td>
                      <td rowspan="8">近距离的告别 </td>
                      <td><span><a href="" title="评估材料：{$res2[32].material}&#13;评估方法：{$res2[32].way}&#13;评估标准：{$res2[32].norm}">妈妈离开时，儿童盯着妈妈并双手臂上下摆动 </a></span></td>
                      
                      
                      <td>
                      
                      <select name="g[]">
                        <option value="{$res1[32].items_values}">{$res1[32].items_values}</option>
                        
                        
                        
                        
                      </select>
                      </td>
                      <td>0-6月 </td>
                      <td><input type="text" name="gz[]" value="{$res1[32].remark}"></td>
                    </tr>
                    <tr>
                      <td>34</td>
                      <td><span><a href="" title="评估材料：{$res2[33].material}&#13;评估方法：{$res2[33].way}&#13;评估标准：{$res2[33].norm}">妈妈离开时，儿童盯着妈妈哭并双手臂前伸 </a></span></td>
                      
                      
                      <td>
                      
                      <select name="g[]">
                        <option value="{$res1[33].items_values}">{$res1[33].items_values}</option>
                        
                        
                        
                        
                      </select>
                      </td>
                      <td>6-12月 </td>
                      <td><input type="text" name="gz[]" value="{$res1[33].remark}"></td>
                    </tr>
                    <tr>
                      <td>35</td>
                      <td><span><a href="" title="评估材料：{$res2[34].material}&#13;评估方法：{$res2[34].way}&#13;评估标准：{$res2[34].norm}">妈妈离开时，儿童迈步追，并向前伸开手臂</a> </span></td>
                      
                      
                      <td>
                      
                      <select name="g[]">
                        <option value="{$res1[34].items_values}">{$res1[34].items_values}</option>
                        
                        
                        
                        
                      </select>
                      </td>
                      <td>12-18月 </td>
                      <td><input type="text" name="gz[]" value="{$res1[34].remark}"></td>
                    </tr>
                    <tr>
                      <td>36</td>
                      <td><span><a href="" title="评估材料：{$res2[35].material}&#13;评估方法：{$res2[35].way}&#13;评估标准：{$res2[35].norm}">妈妈离开时，儿童迈步追并抱住妈妈的腿 </a></span></td>
                      
                      
                      <td>
                      
                      <select name="g[]">
                        <option value="{$res1[35].items_values}">{$res1[35].items_values}</option>
                        
                        
                        
                        
                      </select>
                      </td>
                      <td>18-24月 </td>
                      <td><input type="text" name="gz[]" value="{$res1[35].remark}"></td>
                    </tr>
                    <tr>
                      <td>37</td>
                      <td><span><a href="" title="评估材料：{$res2[36].material}&#13;评估方法：{$res2[36].way}&#13;评估标准：{$res2[36].norm}">妈妈离开时，儿童亲妈妈的脸表达再见 </span></td>
                      
                      
                      <td>
                      
                      <select name="g[]">
                        <option value="{$res1[36].items_values}">{$res1[36].items_values}</option>
                        
                        
                        
                        
                      </select>
                      </td>
                      <td>24-36月 </td>
                      <td><input type="text" name="gz[]" value="{$res1[36].remark}"></td>
                    </tr>
                    <tr>
                      <td>38</td>
                      <td><span><a href="" title="评估材料：{$res2[37].material}&#13;评估方法：{$res2[37].way}&#13;评估标准：{$res2[37].norm}">妈妈离开时，说“拜拜”但表情显出不愿意</a> </span></td>
                      
                      
                      <td>
                      
                      <select name="g[]">
                        <option value="{$res1[37].items_values}">{$res1[37].items_values}</option>
                        
                        
                        
                        
                      </select>
                      </td>
                      <td>36-48月 </td>
                      <td><input type="text" name="gz[]" value="{$res1[37].remark}"></td>
                    </tr>
                    <tr>
                      <td>39</td>
                      <td><span><a href="" title="评估材料：{$res2[38].material}&#13;评估方法：{$res2[38].way}&#13;评估标准：{$res2[38].norm}">妈妈离开时，说“拜拜”并挥手</a> </span></td>
                      
                      
                      <td>
                      
                      <select name="g[]">
                        <option value="{$res1[38].items_values}">{$res1[38].items_values}</option>
                        
                        
                        
                        
                      </select>
                      </td>
                      <td>48-60月 </td>
                      <td><input type="text" name="gz[]" value="{$res1[38].remark}"></td>
                    </tr>
                    <tr>
                      <td>40</td>
                      <td><span><a href="" title="评估材料：{$res2[39].material}&#13;评估方法：{$res2[39].way}&#13;评估标准：{$res2[39].norm}">妈妈离开时，说“拜拜”并挥手，但对妈妈提出某些要求 </a></span></td>     
                      
                      <td>
                      
                      <select name="g[]">
                        <option value="{$res1[39].items_values}">{$res1[39].items_values}</option>
                        
                        
                        
                        
                      </select>
                      </td>
                      <td>60-72月 </td>
                      <td><input type="text" name="gz[]" value="{$res1[39].remark}"></td>
                    </tr>
                    <tr>
                      <td>41</td>
                      <td rowspan="7">社交礼仪 </td>
                      <td rowspan="3">电话 <br />
                        告别 </td>
                      <td><span><a href="" title="评估材料：{$res2[40].material}&#13;评估方法：{$res2[40].way}&#13;评估标准：{$res2[40].norm}">用“妈妈，再见”回应妈妈的告别 </a></span></td>
                      
                      
                      <td>
                      
                      <select name="g[]">
                        <option value="{$res1[40].items_values}">{$res1[40].items_values}</option>
                        
                        
                        
                        
                      </select>
                      </td>
                      <td>24-36月 </td>
                      <td><input type="text" name="gz[]" value="{$res1[40].remark}"></td>
                    </tr>
                    <tr>
                      <td>42</td>
                      <td><span><a href="" title="评估材料：{$res2[41].material}&#13;评估方法：{$res2[41].way}&#13;评估标准：{$res2[41].norm}">用“妈妈，再见”，并有亲电话（代替亲妈妈）表示告别 </a></span></td>
                      
                      
                      <td>
                      
                      <select name="g[]">
                        <option value="{$res1[41].items_values}">{$res1[41].items_values}</option>
                        
                        
                        
                        
                      </select>
                      </td>
                      <td>36-48月 </td>
                      <td><input type="text" name="gz[]" value="{$res1[41].remark}"></td>
                    </tr>
                    <tr>
                      <td>43</td>
                      <td><span><a href="" title="评估材料：{$res2[42].material}&#13;评估方法：{$res2[42].way}&#13;评估标准：{$res2[42].norm}">用“妈妈，再见”告别的同时表达想念“想你”</a></span></td>
                      
                      
                      <td>
                      
                      <select name="g[]" >
                        <option value="{$res1[42].items_values}">{$res1[42].items_values}</option>
                        
                        
                        
                        
                      </select>
                      </td>
                      <td>48-60月 </td>
                      <td><input type="text" name="gz[]" value="{$res1[42].remark}"></td>
                    </tr>
                    <tr>
                      <td>44</td>
                      <td rowspan="2">表示 <br />
                        感谢 </td>
                      <td><span><a href="" title="评估材料：{$res2[43].material}&#13;评估方法：{$res2[43].way}&#13;评估标准：{$res2[43].norm}">拿到别人给的东西，双手作揖表示感谢</a> </span></td>
                      
                      
                      <td>
                      
                      <select name="g[]">
                        <option value="{$res1[43].items_values}">{$res1[43].items_values}</option>
                        
                        
                        
                        
                      </select>
                      </td>
                      <td>18-24月 </td>
                      <td><input type="text" name="gz[]" value="{$res1[43].remark}"></td>
                    </tr>
                    <tr>
                      <td>45</td>
                      <td><span><a href="" title="评估材料：{$res2[44].material}&#13;评估方法：{$res2[44].way}&#13;评估标准：{$res2[44].norm}">拿到别人给的东西说“谢谢叔叔----”</a></span></td>
                      
                      
                      <td>
                      
                      <select name="g[]" >
                        <option value="{$res1[44].items_values}">{$res1[44].items_values}</option>
                        
                        
                        
                        
                      </select>
                      </td>
                      <td>24-36月 </td>
                      <td><input type="text" name="gz[]" value="{$res1[44].remark}"></td>
                    </tr>
                    <tr>
                      <td>46</td>
                      <td>表示 <br />
                        抱歉 </td>
                      <td><span><a href="" title="评估材料：{$res2[45].material}&#13;评估方法：{$res2[45].way}&#13;评估标准：{$res2[45].norm}">弄坏别人的东西，会说“对不起”</a></span></td>
                      <td>
                      
                      <select name="g[]">
                        <option value="{$res1[45].items_values}">{$res1[45].items_values}</option>
                        
                        
                        
                        
                      </select>
                      </td>
                      <td>36-48月 </td>
                      <td><input type="text" name="gz[]" value="{$res1[45].remark}"></td>
                    </tr>
                    <tr>
                      <td>47</td>
                      <td>表示 <br />
                        称赞 </td>
                      <td><span><a href="" title="评估材料：{$res2[46].material}&#13;评估方法：{$res2[46].way}&#13;评估标准：{$res2[46].norm}">当别人做事做的好时，口头称赞别人或通过动作称赞别人</a> </span></td>
                      <td>
                      
                      <select name="g[]">
                        <option value="{$res1[46].items_values}">{$res1[46].items_values}</option>
                        
                        
                        
                        
                      </select>
                      </td>
                      <td>36-48月 </td>
                      <td><input type="text" name="gz[]" value="{$res1[46].remark}">
                      </td>
                    </tr>
                  </table><br/>
  				  <h4 class="text-danger">备注：<br/>
				★——代表观察项目<br/>
				▲ ——代表直接观察或是直接评估项目<br/>
				项目号前面没有任何标注的为直接评估项目<br/>
			</h4>
			<center class="noprint">
			<input type="button" value="打&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;印" class="btn btn-primary btn-lg " onclick="window.print()">
			</center>
			</form>
		</div>
	</div>
	<script type="text/javascript">
	setInterval(function(){
		//alert('aaa');
		var url ="__URL__/scale_info";
		var data = $("#myForm").serializeArray();
		var g=[];
		var gz=[];
		for(var i=2,k=0;i<data.length;i++,k++){
			if(i%2==0){
				g.push(data[i]["value"]);	
			}else{
				gz.push(data[i]["value"]);
			}
		}
		var postData={kind_id:data[0].value,a_id:data[1].value,g:g,gz:gz};
		$.post(url,postData,function(result){
			$('.save').show();
			 $('.save').html('数据自动保存成功~~');
		        setTimeout(function() {$('.save').hide();}, 2000);
		        return;
		});
	},60000); //每隔一分钟保存一次
</script>
</body>
</html>